<!DOCTYPE html>

<html lang="en">


<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    
    <link rel="stylesheet" href="css/Homestyles.css">

    

   
</head>

<body>
    <div id="LeafLayer">
        <img src="~/images/heroFinalBlur.jpg" alt="FoxMissing.jpg">
        <p id="header">WELCOME TO DIMENSIONS</p>
        <h1>
            We are a creative initiative <br>
            who design research, <br> 
            develop formulas <br>
            and bench test <br>
            them using historical <br> 
            and current data <br>
            to advance technical <br>
            &<br>
            data analysis.<br> 
        </h1>


        
        <br>
        <br>
        <br>
        <br>
        <br>

        <div id="AboutUs">
            <form asp-controller="Home" asp-action="ShowAboutusView" method="post">
                <button type="submit">About us</button>
            </form>
        </div>

        <div id="UserDashboardButton">
             <form asp-controller="Home" asp-action="ShowUserDashboard" method="post">
                <button type="submit">User Dashboard</button>
            </form>
        </div>

        <div id="InformationButton">
            <form asp-controller="Home" asp-action="ShowMainInfoView" method="post">
                <button type="submit">Information</button>
            </form>
        </div>

    </div>





        <div id="NarrativeBody">
            <div class="SRADtext">
                <h4>S.R.A.D.</h4>
                <p id="lead">SRAD (<i> Scanning Research and Development </i>)<br> Is the collective intention of conducting a series of studies to bench test and develop 
                formula's and correlations to the stock market primarily to benefit intraday trading strategies. The different calculations behind whats developed under SRAD will assist in
                what is known as reactive strategies. A reactive strategy is the idea of making trades after a move has been made. This is called playing the backside. </p>
            </div>
            <img src="~/images/sample-image.jpg">
            <div class="DevelopmentText">
                <p id="Developmenthead">Development stage</p>
                <p id="Developmentbody">
                    
                    In the development <br> stage  the intention is to<br>  gather samples of data <br> about a symbol in the <br> stock market and run <br> bench tests
                    agaisnt<br>  specific data points selected to show recurring correllations and other vital information in formula development using in house programmers.
                   
                </p>
            </div>
            <p id="Benchhead">Bench Testing</p>            
            <div id="BenchText">
                Our approach allows us to handroll mathematical<br>
                formula's flashing thousands of records instantly<br>
                to discover correlation's between historical movement<br>
                and current conditions to not act on the market,<br>
                but to react. We are actively seeking current correllations in the stock market and use our data to have an advantage in upcoming trends and strategies as the market oscillates and changes.
             
            </div>
             
        </div>

            <div id="bodytextmain">
                With this in mind, one of the goals in the formula development stage is to test the relevancy of a certain strategy in the current market as these recurring 
                and reliable patterns last only but for so long.<br> This poses a problem in the continuous potential to be successful in an up or down market. <br>
                In the development stage it is like panning for gold, with that said the filtering process is an intensive record collection of relevant data points 
                and performing the formulas developed historically and newly emerging. This will assist in staying current with the market using statistics and data analysis.  	
            </div>

            <img src="~/images/MountainLogo.png" id="bottomimg">
       
    

    
        




    
        

        

            
        <div class="WhereToFindUs">
            <p id="headFind">Where to Find Us</p>
            <p>
                1600 Amphitheatre Parkway<br>
                Mountain View, SC<br>
                94043 US
            </p>
        </div>

        <div class="cinfo">
            <h5>Email Us At</h5>
            <p>
                alex_morton89@icloud.com
            </p>
        </div>

        <div class="cinfo">
            <h5>Call Us At</h5>
            <p>
                Mobile: (+1)803-761-2422<br>
            </p>
        </div>

        <ul class="contact-social">
            <li>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
            </li>
        </ul> <!-- end contact-social -->


</body>

</html>