<h3>Bollinger Bands</h3>
Bollinger band extremes are good for determining a short on a stock or a possible bounce back
Price action that is outside or considered over extended will show the possible correction to the mean.
Once we have determined a stock going well outside of the bands we can calculate 
<ul>
    <li>the difference to return (a part of the level 2 strategy)</li>
    <li>The direction (long / short)</li>
    <li>Average duration outside of the bands</li>
    <li>Must be a 2:1 profit to loss ratio</li>
    <li>average time to expected return (can certainly vary)</li>
</ul>



<h3>SMA</h3>
<i>simple moving average</i>
The sma or simple moving average is good to watch. It is known as a lagging indicator
and will show the expected middle range of a mean reversion oscillation or in calculating the OAR should 
show the average differences in the reversion to the mean (sma).
This is essentially a median base line for an oscillation. Normal waters. 


<h3>MACD</h3>
The MACD indicator will display the strength of the trend at the given moment. Although this is subject to change quickly
we have a computation of the most recorded history of the strength of the oscillation's current trend. How much juice is in the movement. 
