<h1>Top Priority Study Items</h1>
<ul>
    <li>SEC Filings</li>
    <li>How to day trade Earnings winners</li>
    <li>Billionaire investments</li>
    <li></li>    
</ul>




<h3>Random Strategy Ideas</h3>
<ul>
    <li>After morning consolidation to fade outs</li>
    <li>How to day trade Earnings winners</li>
    <li>Billionaire investments</li>
    <li>Earnings Winners</li>
    <li>Contracts Winners</li>
    <li>Billionaire Plays</li>    
    <li>Dip Buying</li>
    <li>Cut losses quickly</li>
    <li>Breakouts</li>
        
</ul>