<div id="OpenVolume">
    <p>
        <h3>Open Volume</h3>
        The open volume evaluation is the thesis of Steven Dux who is a wildly<br>
        successful trader who himself has created a database of multiple data points <br>
        to analyze and improve his strategies and decision making.<br><br>
        Ex: <i>OpenVolResult = (currVolume / float);</i><br><br>
        This returns the percentage of the chance that the symbol closes lower <br>
        at end of day. Here we can flash thousands of the fade in of people as <br>
        they come to the symbol and trade it and creates its relativity to the <br>
        companys float size. Once the volume begins to grow to the amount of the float<br>
        it can cause the float to begin to rotate which shows strength in a symbol and is <br>
        a strong signal to certainly not short. <br>
        We use fixed baselines for the companies float size and compare each baseline<br>
        to the affect of the fade in of the people. <br>
        By the 'fade in' we mean monitoring and slowing down the act of 'volume increase' in real time.<br>
        By creating these records and in this way we can witness the change and correlation of the moving result <br>
        to triggers or signals that the symbol has entered into a level 1, 2, or 3 category.<br><br>
        
        Level 1 meets all criteria and is a top priority  <br>
        Level 2 meets most criteria however is missing some fundamental factors<br>
        Level 3 meets some criteria however is missing most fundamental factors<br><br>

        Much like in programming we can think of this approach that the Stock is a class<br>
        and has attributes and methods. A method could be one of our calculations and the <br>
        stocks attributes would be things like, float, last, high, low, OAR, short%, etc. <br>
        So we can categorize the current symbols into one of these filters by statistics giving<br>
        us better plays. 


        This evaluation is essentially slowing the movement of the market
        and shows at any particular growth point what triggers the most movement.<br><br>
        We will eventually cross these records with future successful results to discover<br>
        the success rates of the openVol evaluation. 
    </p>
    <form asp-controller="Home" asp-action="ShowOpenVolumeView" method="post">
        <button type="submit">Open Volume</button>
    </form>
</div>