<h3>Short Selling</h3>
<h5>STRATEGIES</h5>



<strong>Tim Grittani's Approach</strong>
<ul>
    <li>Identify the rise up</li>
    <li>Wait for the first big crack</li>
    <li>Wait for the rise back up</li>
    <li>Then short</li>
    <li>Uses EquityFeed for scanning</li>
    <li>Using the HOD <p id="tinytext"><i>"high of day"</i></p>as resistance</li>    
</ul>